<div class="page-container">
  <div class="search-box">
    <%= form_tag developers_path, :class => "search-bar", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-input",
        placeholder: "Find a developer"
      %>
      <%= submit_tag "Search", class: "btn btn-light search-btn",:type => :image, :src=> image_path("glass.png") %>
    <% end %>
  </div>

  <div id="developers">
    <% @developers.each do |developer| %>
      <%= link_to developer_path(developer) do %>
        <div class="card-product">
          <% if developer.photo.attached? %>
            <%= cl_image_tag developer.photo.key%>
          <% else %>
            <%= image_tag("default-img") %>
          <% end %>
          <div class="card-product-infos">
            <h2><%= developer.first_name %> <%= developer.last_name %></h2>
            <p><%= developer.skills[1] %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to "Back", root_path, class: "back-button" %>
</div>
