<div class="container">
  <div class="row justify-content-center pt-3">
    <div class="col-sm-8">

      <%= form_tag developers_path, :class => "search-bar", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control search-input",
          placeholder: "Find a developer"
        %>
        <%= submit_tag "Search", class: "btn btn-light search-btn",:type => :image, :src=> image_path("glass.png") %>
      <% end %>

  <div id="developers">
    <% @developers.each do |developer| %>
      <%= link_to developer_path(developer) do %>
        <div class="card-product">
          <%= cl_image_tag developer.photo.key%>
          <div class="card-product-infos">
            <h2><%= developer.first_name %> <%= developer.last_name[0] %>.</h2>
            <% developer.skills.each do |s| %>
              <p> <%= s %> </p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
