<div class="container">
  <div class="row justify-content-center pt-3">
    <div class="col-sm-8">

    <%= form_tag developers_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a developer"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>

      <div id="developers">
        <% @developers.each do |developer| %>
          <h4><%= developer.name %></h4>
          <p><%= developer.role %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
