<div class="chat">
  <div class="header">
    <% if @user.role == "developer" %>
      <h1><%= @company.name %></h1>
      <h2>Company</h2>
      <div class="avatar">
        <% if @company.photo.attached? %>
          <%= cl_image_tag @company.photo.key %>
        <% else %>
          <%= image_tag("default-company") %>
        <% end %>
      </div>
    <% elsif @user.role == "company" %>
      <h1><%= @developer.name %></h1>
      <h2><%= @developer.skills[1] %></h2>
      <div class="avatar">
        <% if @developer.photo.attached? %>
          <%= cl_image_tag @developer.photo.key %>
        <% else %>
          <%= image_tag("default-img") %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="messages"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
        <% @chatroom.messages.each do |message| %>
            <%= render 'messages/message', message: message %>
        <% end %>
  </div>

    <%= render "messages/new_message" %>
</div>
