<div class="page-container">
  <div class="search-box">
    <%= form_tag companies_path, :class => "search-bar", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-input",
        placeholder: "Find a company"
      %>
      <%= submit_tag "Search", class: "btn btn-light search-btn",:type => :image, :src=> image_path("glass.png") %>
    <% end %>
  </div>

  <div id="companies">
    <% @companies.each do |company| %>
      <%= link_to company_path(company) do %>
        <div class="card-product">
          <% if company.photo.attached? %>
            <%= cl_image_tag company.photo.key%>
          <% else %>
            <%= image_tag("default-company") %>
          <% end %>
          <div class="card-product-infos">
            <h2><%= company.name %></h2>
            <p><%= company.address %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%=  link_to "Back", root_path, class: " back-button" %>

</div>
