<%= form_tag matches_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a movie"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<% @matches.each do |match| %>
<%= match.first_name %>
<% end %>
<% @matches_company.each do |company| %>
<%= company.name %>
<% end %>
<div class="phone">
  <%= render 'shared/card' %>
</div>
