<%# <% @matches.each do |match| %>
<%# <%= match.first_name %>
<%# <% end %>
<%# <% @matches_company.each do |company| %>
<%# <%= company.name %>
<%# <% end %>
  <div class="guidance">
      <div>
        <P>Match</P>
      </div>
      <div class="arrow">
        <div class="left">
          <p><i class='bx bx-left-arrow-alt' ></i>Swipe Left</p>
        </div>
        <div class="right">
          <p>Swipe Right<i class='bx bx-right-arrow-alt' ></i></p>
        </div>
      </div>
  </div>
  <%# <div> %>
    <%# <%= render 'shared/card_swipe' %> 
  
    <% if @user.role == "company"%>
      <div id="profiles" data-controller="swipe" data-swipe-company-id-value="<%= @company.id %>">
      <%= render 'shared/card_swipe' %>
      </div>
    <% elsif @user.role == "developer" %>
      <div id="profiles" data-controller="swiped" data-swipe-developer-id-value="<%= @developer.id %>" >
        <%= render 'shared/card_swipe' %>
      </div>
    <% end %>

  <div class="indicator">
    <div class="red">
      <i class='bx bxs-x-circle' ></i>
    </div>
    <div class="green">
      <i class='bx bxs-check-circle' ></i>
    </div>
  </div>
