  <div class="profile-container">
    <h1> Build Your Profile</h1>
    <div class="photo">
      <%= image_tag "add-photo.png" %>
    </div>
    <%= simple_form_for(@developer) do |f| %>
    <%= f.input :photo, as: :file, label: false %>
    <%= f.input :first_name, placeholder: "First name", label: false %>
    <%= f.input :last_name, placeholder: "Last name", label: false %>
    <%= f.input :biography, as: :text, placeholder: "Tell us more about you...", label: false %>
    <%= f.input :address, placeholder: "Address", label: false %>
    <%= f.input :skills, as: :check_boxes, collection: Developer::SKILLS, prompt: "Skills", label: false, wrapper: :horizontal_collection_inline %>

    <h1>Contact Details</h1>
    <%= f.input :phone_number, placeholder: "Phone number", label: false %>
    <%= f.input :website, placeholder: "Website", label: false %>
    <%= f.input :zoom, placeholder: "Zoom", label: false %>
    <%= f.input :github, placeholder: "GitHub", label: false %>
    <%= f.button :submit, "Save", class: "profile-save-button" %>
    <% end %>
  </div>
